<h1>new log in form</h1>

<div class="login-container">
<h1>Log In to Acebook</h1>

<%= form_tag '/login' do %>
    Username:<%= text_field_tag :username%><br>
    Password:<%= password_field_tag :password%><br>
    <%= submit_tag "Log In"%>
<% end %>

</div>