

<div class="container-page">

    
    <div class="row container-text bg-image d-flex justify-content-start align-items-center"
        style="
            background-image: url(/LOAN_image2.png);
            height: 100%;
            width: 100%;
            flex-basis: 18%;
            position: relative;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            padding-top: 50px;
        "
    >
        <div class 
            style="
                background: rgb(0, 128, 255, 0.2);
                color: 1876f2;
                border-radius: 20px;
                padding: 30px;
                box-shadow: 10px rgb(190, 180, 180);
                margin-bottom: 650px;
                width: 30%;
            "
        >
            <h1 style="text-shadow: 0px 1px 4px #23430C">
                Welcome to Funding Circle</h1>

            <form class="justify-content-end">
                <button class="btn btn-lg btn-outline-danger me-2" type="button">
                    <%= link_to 'Register', register_path %>
                </button>
                <button class="btn btn-lg btn-outline-warning me-2" type="button">
                    <%= link_to 'Login', login_path %>
                </button> 
            </form>
        </div>
    </div>
    
    <div class="row"
        style="
            background: rgb(0, 128, 255, 0.2);
                color: 1876f2;
                padding: 30px;
                box-shadow: 10px rgb(190, 180, 180);
                width: 110%;
        "
    >
        <div class="col">
            ✔️ Short & long term finance
        </div>
        <div class="col">
            ✔️ Apply online in 7 minutes
        </div>
        <div class="col">
            ✔️ Get a quick decision
        </div>
        <div class="col">
            ✔️ UK-based support team
        </div>
        <div class="col">
            ✔️ Fixed interest rates
        </div>
    </div>

</div>