<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<div id="welcome-container">

    
    <div id="welcome-outer-row-1" class="row container-text bg-image d-flex justify-content-start align-items-center">
        <div id="welcome-inner-div">

            <h1 id="welcome-to-FC">
                Welcome to Funding Circle</h1>

            <form class="justify-content-end">
                <%= link_to 'Register', register_path, class: "btn btn-lg btn-outline-danger me-2" %>
                <%= link_to 'Login', login_path, class: "btn btn-lg btn-outline-warning me-2" %>
            </form>

        </div>
    </div>
    
    <div id="welcome-outer-row-2" class="row">

        <div class="col">
            ✔️ Short & long term finance
        </div>
        <div class="col">
            ✔️ Apply online in 7 minutes
        </div>
        <div class="col">
            ✔️ Get a quick decision
        </div>
        <div class="col">
            ✔️ UK-based support team
        </div>
        <div class="col">
            ✔️ Fixed interest rates
        </div>
    </div>

</div>