<div class="row">
    <h1>User dashboard</h1>
    <p>Loan status</p>
</div>

<hr>

<div class="row">
    <h1>Products dashboard</h1>
    <div class= "col">
        <h2>First product</h2>
        <form class="justify-content-end">
            <button class="btn btn-lg btn-outline-danger me-2" type="button">
                <%= link_to 'Application', application_path %>
            </button>
        </form>
    </div>

    <div class= "col">
        <h2>Second product</h2>
        <form class="justify-content-end">
            <button class="btn btn-lg btn-outline-danger me-2" type="button">
                <%= link_to 'Application', application_path %>
            </button>
        </form>

    </button>
    </div>
</div>