/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


/*--------------- LAYOUTS : application.html.erb ---------------------*/
html {
    scroll-behavior: smooth;
}



/*--------------- SESSIONS : welcome.html.erb ------------------------*/
#welcome-container {
    margin: 20px;
    padding: 20px;

}

#welcome-outer-row-1 {
    background-image: url(/LOAN_image2.png);
    height: 100%;
    width: 100%;
    flex-basis: 18%;
    background-size: cover;
    object-fit: cover;
}

#welcome-inner-div {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(190, 180, 180, 0.5);
    margin-bottom: 650px;
    width: 30%;
}

#welcome-to-FC {
    text-shadow: 0px 1px 4px #23430C;
}

#welcome-outer-row-2 {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(190, 180, 180, 0.5);
    width: 100%;
}



/*--------------- USERS : (register) register.html.erb ---------------*/




/*--------------- SESSIONS : (login) new.html.erb -------------------*/




/*--------------- USER_MFA_SESSIONS : new.html.erb  ----------------*/




/*--------------- USERS : (user dashboard) : create.html.erb --------*/




/*---------------- LOANS : application.html.erb ---------------------*/