/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


/*--------------- LAYOUTS : application.html.erb ---------------------*/
html {
    scroll-behavior: smooth;
}



/*--------------- SESSIONS : welcome.html.erb ------------------------*/
#welcome-container {
    margin: 20px;
    padding: 20px;

}

#welcome-outer-row-1 {
    background-image: url(/LOAN_image2.png);
    height: 100%;
    width: 100%;
    flex-basis: 18%;
    background-size: cover;
    object-fit: cover;
}

#welcome-inner-div {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(190, 180, 180, 0.5);
    margin-bottom: 650px;
    width: 30%;
}

#welcome-to-FC {
    text-shadow: 0px 1px 4px #23430C;
}

#welcome-outer-row-2 {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(12, 27, 243, 0.6);
    width: 100%;
}



/*--------------- USERS : (register) register.html.erb | SESSIONS : (login) new.html.erb ---------------*/
#register-container, #login-container {
    margin: 20px;
    padding: 20px;

}

#register-outer-row-1 {
    margin-bottom: 20px;
    margin-left: 8px;
}

#login-outer-row-1 {
    margin-top: 40px;
    margin-left: 47px;
}

#register-inner-div, #login-inner-div {
    background: rgba(0, 128, 255, 0.2);
    border-radius: 20px;
    color: #fd1d1dc8;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(190, 180, 180, 0.5);
    text-align: center;
    width: 40%;

    
}

#register-to-FC, #login-to-FC {
    text-shadow: 0px 1px 4px #23430C;
}

#register-outer-row-2, #login-outer-row-2 {
    justify-content: flex-start;
    align-content: start;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 8px;
}

/*------- Register Form  / Log In Form */
#register-col-left{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 5px 5px 10px rgba(125, 39, 162, 0.754);
    border-radius: 20px;
    color: black;
    height: 100%;
    min-height: 350px;
    padding: 30px; 
    margin-top: 65px;
    margin-right: 30px;
    width: 25%;
}

#login-col-left {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 5px 5px 10px rgba(125, 39, 162, 0.754);
    border-radius: 20px;
    color: black;
    height: 100%;
    min-height: 300px;
    padding: 30px; 
    margin-top: 65px;
    margin-right: 15px;
    margin-left: 47px;
    width: 25%;
}

.register-fields, .login-fields {
    border-radius: 10px;
}

#register-button, #login-button {
    margin-top: 25px;
}

/*-------- Register Background Image */
#register-col-right {
    background-image: url('/LOAN_image3.webp');
    height: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

#login-col-right {
    background-image: url('/LOAN_image3.webp');
    height: 100%;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/*--------- FC Banner */
#register-outer-row-3 {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(12, 27, 243, 0.6);
    width: 100%;
}

#login-outer-row-3 {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(12, 27, 243, 0.6);
    margin-left: 47px;
    width: 95%;
}


/*--------------- USERS : (user dashboard) : create.html.erb --------*/
#user-container {
    justify-content: center;
    align-items: center;
}

#user-outer-row-1 {
    margin-top: 30px;
    margin-left: 7px;
}

/*------ Name */
#user-inner-div-1 {
    background: rgba(0, 128, 255, 0.2);
    border-radius: 20px;
    color: #fd1d1dc8;
    padding: 30px;
    text-align: center;
    width: 100%;
}

#user-FC {
    text-shadow: 0px 1px 4px #23430C;
    margin-bottom: 10px;
}

/*------- Loans */
#user-inner-div-2 {
    margin-top: 40px;
    margin-left: 7px;
}

#loans-table {
    border-width: 40px !important;
}


/*------- Image */
#loans-col-right {
    background-image: url(/LOAN_image5.jpeg);
    height: 25%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-bottom: -18px;
    margin-top: -65px;
}

/*------ Product Cards */
#user-outer-row-2 {
    margin-bottom: 25px;
    margin-top: -25px;
}

#products-FC {
    background: rgba(17, 86, 155, 0.842);
    border-radius: 20px;
    color: #fdbb2d;
    padding: 10px;
    text-align: center;
    width: 20%;
    margin-left: 55px;
}

#user-inner-div-3 {
    margin-top: 30px;
    margin-left: 7px;
    margin-bottom: 30px;
}

#products-small, #products-large {
    margin-left: 50px;
}

#card-body-sm, #card-body-lg {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 97%);
}

#small-h3, #large-h3 {
    color: rgba(17, 86, 155, 0.842);
}


/*------- FC Banner */
#user-outer-row-3 {
    background: rgba(0, 128, 255, 0.2);
    color: #1876f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgba(12, 27, 243, 0.6);
    margin-left: 47px;

    width: 95%;
}

/*---------------- LOANS : application.html.erb ---------------------*/